<blockquote>
  <div class="page-header">
    <h1>Payment</h1>
  </div>

  <p class="lead">A <%=params[:period]%> year loan of <%=params[:principal]%>, with an annual interest rate of <%=params[:int_rate]%>, requires a monthly payment of <%=@result%>.</p>
</blockquote>
